<div id="background">
		
					
	<div id="wrapper">
		
		
		<div id="header">
			<h1 class="light"> NISHA </h1> <h1 class="dark"> BATRA</h1>
		</div>
		
		<div id="navbar">
			<ul id="navmenu">
				<a href="javascript:toggleDiv('about');"><li class="block">  HI </li></a>
				<a href="http://www.nishabatra.tumblr.com" target="_blank"><li class="block"> BLOG </li></a>
				<a href="javascript:toggleDiv('projects');"><li class="block"> PROJECTS </li></a>
				<li class="contactblock">  
					<div id="socialblock">
						<ul id="social">
							<div class="iconwrap"><a href="javascript:toggleDiv('email');"><li class="socialbuttons"><img src="assets/email.png"></li></a></div>
							<div class="iconwrap"><a href="http://www.linkedin.com/profile/view?authType=name&goback=%2Enpv_51448660_*1_*1_name_1Egn_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&locale=en_US&id=51448660&authToken=1Egn" target="_blank"><li class="socialbuttons"><img src="assets/linkedin.png"></li> </a></div>
							<br>
					
							<div class="iconwrap"><a href="https://www.facebook.com/nisha102785?ref=ts&fref=ts" target="_blank"><li class="socialbuttons"><img src="assets/FB.png"></li></a></div>
							<div class="iconwrap"><a href="https://twitter.com/nishadhingra" target="_blank"><li class="socialbuttons"><img src="assets/twitter.png"></li></a></div>
						</ul>
					</div> 
					CONTACT
				</li>
			</ul>
		</div>
		
		
<!-- DEMO OF FLIP 
<div class="flip"> 
<div class="card"> 
    <div class="face front"> 
        Front
    </div> 
    <div class="face back"> 
        Back
    </div> 
</div> 
</div> 
END OF DEMO FLIP -->

		<div id="about">
			<div id="hicontainer">
				<div class="closebox"> <a href="javascript:toggleDiv('about');"> X </a></div>
				<div class="aboutcontainer">
					<div class="photocontainer"> <img src="assets/nishaphoto2.png" width="230px"> </div>

					<p class="about">
						Hi there, I'm Nisha Batra (formerly Nisha Dhingra).
						<br><br>
						I currently live in NYC with my amazing husband in a free state 
						of dabbling in "side projects," at least that's what I'll call it for now. I used to call myself an investment 
						banker, then I moved to the startup world, and then I started my own 
						company. 
						<br><br>
						It didn't succeed. As shocking and disheartening as that was 
						for a dreamy, ambitious, aspiring entrepreneur as myself, I've 
						learned to come to terms with it. I'll definitely try again one day.
						<br><br>
						I've transformed myself from an investment banker who crunched 
						numbers to a self-proclaimed creative techy. In the past 6 months, 
						I learned how to code and design, and I built a few sites for people 
						I know (including this one). I'm now learning Ruby on Rails and
						want to build cool apps.  
						<br><br>
						I love design and creating things. I consider fashion an art, which (I think) 
						justifies my shopaholic tendencies. I enjoy reading books that attempt to explain 
						how our minds work. And sunshiny weather makes me happy. 
						
						<br><br>
						I also love hearing from new people.  <a class="textlinks" href="mailto:nishabatra27@gmail.com"> Drop me a line</a> if you have a 
						question, want to share an experience, or just to say hi.
					</p>
				</div>
			</div>

			<div id="hicontainerborder">
			</div>
			
		</div>
		
		<div id="email">
			<div id="emailcontainer">
				<div class="closebox"> <a href="javascript:toggleDiv('email');"> X </a></div>
				<div class="emailcontainer">
					<p class="general">
						Coming soon.
					</p>
				</div>
				
			</div>

			<div id="projectscontainerborder">
			</div>
			
		</div>
		


		
		<div id="projects">
			<div id="projectscontainer">
				<div class="closebox"> <a href="javascript:toggleDiv('projects');"> X </a></div>
				<div class="projectscontainer">
					<p class="general">
						Coming soon.
					</p>
				</div>
				
			</div>

			<div id="projectscontainerborder">
			</div>
			
		</div>
		
		<!--BACKGROUND MUSIC -->
		
		<div id="footer">
			<div class="music" onClick="Play(this.value)">	
				<span id="music"><embed src="assets/07 We Bought a Zoo.wav" autostart="true" loop="true" width=0 height=0></span>
			</div>
		</div>
		
	
<!-- BEGIN RESUME BOX >			
		
		<div id="resume">
			<div id="resumecontainer">
				<div class="closebox"> <a href="javascript:toggleDiv('resume');"> X </a></div>
				<div class="resumecontainer"> <img src="assets/Nisha Batra Resume (website).pdf" width="650px"> </div>
				
			</div>

			<div id="resumecontainerborder">
			</div>
			
		</div>
		
< END RESUME BOX -->
		
		<div id="transparent">
			
				
		</div>
			
	</div>
	
</div>			
