/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* CSS RESET STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* END OF CSS RESET STYLES */

/* FOR IPHONE */
@media only screen and (max-width: 480px) {

	/* Mobile styles go here */
	body{width:100%;}
	img{max-width:100%;}
}

/* END OF IPHONE STYLES */

/* BOX LAYOUT */

body {
	overflow:hidden;
}

#background {
	background: url('assets/BGphoto.png');	
	background-size:cover;
	width: 100%;
	height: 768px;
	opacity:.88;
	filter: alpha(opacity = 88); /* IE */
	zoom:1; /* IE */
	overflow:hidden;
	
}


#wrapper {
	overflow:visible;
	width:700px;
	padding:0px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	

}

#transparent {
	width:100%;
	height: 100%;
	background-color:white;
	opacity:.55;
	filter: alpha(opacity = 55); /* IE */
	zoom:1; /* IE */
	z-index:2;

	
} 

#header {
	background-color: white;
	height: 120px;
	width: 700px;
	z-index:6;
	position:absolute;
	top:40px;
	opacity:.7;
	filter: alpha(opacity=70); /* IE */
	zoom:1; /* IE */

}


#navbar {
	width:332px;
	height:332px;
	margin-left:192px;
	margin-right:auto;
	margin-top:250px;
	position:absolute;
	z-index:4;
}

.block {
	width:150px;
	background-color:white;
	margin-right:16px;
	position:relative;
	float:left;
	margin-bottom:16px;
	text-align:center;
	font-family: 'open sans', sans-serif;
	font-size:20px;
	letter-spacing:2px;
	padding-top:65px;
	padding-bottom:65px;
	z-index:4;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	font-weight:300;
	$('.box').transition({
    perspective: '100px',
    rotate3d: '1, 1, 0, 180deg'
});
		
}

.contactblock {
	width:150px;
	background-color:white;
	margin-right:16px;
	position:relative;
	float:left;
	margin-bottom:16px;
	text-align:center;
	font-family: 'open sans', sans-serif;
	font-size:20px;
	letter-spacing:2px;
	padding-top:65px;
	padding-bottom:65px;
	z-index:4;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	font-weight:300;
  	perspective: 800px;
}

#hicontainer {
	width:680px;
	height:420px;
	position:absolute;
	background-color:white;
	block:inline;
	margin-top:170px;
	margin-left:10px;
	z-index:10;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
}

#projectscontainerborder {
	width:700px;
	height:440px;
	position:absolute;
	z-index:5;
	background-color:#eed822;
	block:inline;
	margin-top:160px;
	opacity:.5;	
	filter: alpha(opacity = 50); /* IE */
	zoom:1; /* IE */
	text-align:center;
	
}

#projectscontainer {
	width:680px;
	height:420px;
	position:absolute;
	background-color:white;
	block:inline;
	margin-top:170px;
	margin-left:10px;
	z-index:10;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	$('#projectscontainer').transition({perspective: '100px', rotateY: '180deg'});
}

#emailcontainer {
	width:680px;
	height:420px;
	position:absolute;
	background-color:white;
	block:inline;
	margin-top:170px;
	margin-left:10px;
	z-index:10;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	$('#emailcontainer').transition({perspective: '100px', rotateY: '180deg'});
}


#hicontainerborder {
	width:700px;
	height:440px;
	position:absolute;
	z-index:5;
	background-color:#eed822;
	block:inline;
	margin-top:160px;
	opacity:.5;	
	filter: alpha(opacity = 50); /* IE */
	zoom:1; /* IE */
}

#resumecontainer {
	width:680px;
	height:500px;
	position:absolute;
	background-color:white;
	block:inline;
	margin-top:170px;
	margin-left:10px;
	z-index:10;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	overflow:scroll;
}

#resumecontainerborder {
	width:700px;
	height:520px;
	position:absolute;
	z-index:5;
	background-color:#eed822;
	block:inline;
	margin-top:160px;
	opacity:.5;	
	filter: alpha(opacity = 50); /* IE */
	zoom:1; /* IE */
}


.photocontainer {
	width: 230px;
	height: 230px;
	position:relative;
	float:left;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top:15px;
	
}

.aboutcontainer {
	width: 620px;
	height: 87%;
	position:relative;
	float:left;
	vertical-align: middle;
	padding:10px 30px 30px 30px;
	overflow:hidden;

	
}

.projectscontainer {
	vertical-align: middle;
    text-align: center;
   	margin-top:28%;
   	margin-left:auto;
   	margin-right:auto;
   	width: 150px;
    
    
}

.emailcontainer {
	vertical-align: middle;
    text-align: center;
   	margin-top:28%;
   	margin-left:auto;
   	margin-right:auto;
   	width: 150px;
    
    
}
.slidingDiv {
    height:300px;
    background-color: #99CCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
}
 
#about {
    display:none;
}

#resume {
    display:none;
}

#projects {
	display:none;
}

#email {
	display:none;
}

#footer {
	
	position:fixed;
	height:35px;
	bottom:0;
	z-index:5;
	padding:7px;
		
	
}

/*END OF BOX LAYOUT*/

/*ELEMENTS*/
h1.light{
	color:#bebebc;
	font-family: 'open sans', sans-serif;
	font-weight:600;
	font-size:70px;
	margin-top:25px;
	margin-bottom:auto;
	float:left;
	block:inline;
	margin-left:55px;
	letter-spacing:10px;
		transform:scale(1.2,1); /* W3C */
	-webkit-transform:scale(1.2,1); /* Safari and Chrome */
	-moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
}


h1.dark{
	color:#8c8b84;
	font-family: 'open sans', sans-serif;
	font-weight:600;
	font-size:70px;
	margin-top:25px;
	margin-bottom:auto;
	margin-left:60px;
	float:left;
	block:inline;
	letter-spacing:10px;
	transform:scale(1.2,1); /* W3C */
	-webkit-transform:scale(1.2,1); /* Safari and Chrome */
	-moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
}


#navmenu {
	list-style-type:NONE;
	position: relative;
	color:#82817a;
	white-space:nowrap;
}

.closebox {
	font-family:'open sans', sans-serif;
	background-color:white;
	font-weight:700;
	font-size:14px;
	height:18px;
	width:18px;
	color:#EED822;
	text-align:center;
	padding-top:2px;
	float:right;
	margin-right:2px;
	margin-top:0px;
	transform:scale(1.2,1); /* W3C */
	-webkit-transform:scale(1.2,1); /* Safari and Chrome */
	-moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */

}

.closebox:hover {
	background-color:#EED822;
	color:white;
}

p {
	font-family: 'open sans', sans-serif;
	font-size:13px;
	color:#82817A;
	text-align:justify;
	line-height: 16px;
	
	
}

a:hover, a:link, a:visited{
	text-decoration:none;
	font-family:'open sans', sans-serif;
	color:inherit;
}

p.general {
	font-size:18px;
	vertical-align:middle;
}

/*BEGIN HOVER EFFECTS FOR NAV BAR */

.block:hover, .contactblock:hover {
	background-color:#eed822;
	color:white;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	z-index:4;
	font-weight:600;
}


#socialblock {
	background-color:#EED822;
	width:120px;
	height:120px;
	position:absolute;
	margin-top:-65px;
	margin-left: 0px;
	z-index:1;
	padding: 15px;
	opacity: 0;
	filter: alpha(opacity = 0); /* IE */
	zoom:1; /* IE */
	float:left;

	
}

#socialblock:hover {
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
}

#social {
	
	list-style-type:NONE;
	position: relative;
	white-space:nowrap;
	float:left;
	display:inline-block;
	display: -moz-inline-box;
	*display:inline /* for ie */
	
	
}

.socialbuttons {
	display:block;
	float:left;
	padding:3px;
	opacity:.8;
	
	filter: alpha(opacity = 80); /* IE */
	zoom:1; /* IE */
	
}

.socialbuttons:hover {
	display:block;
	float:left;
	padding:3px;
	opacity:1;
	filter: alpha(opacity = 100); /* IE */
	zoom:1; /* IE */
	
}

.iconwrap {
	width:50px;
	height:50px;
	display:block
	position:relative;
	float:left;
	margin-right:auto;
	margin-left:auto;
	padding:4px;
	
}

.music {

	z-index:1;
	width:30px;
	height:30px;
	opacity:1;	
	background-image:url('assets/soundoff.png');
	background-size: 30px;
	display: -moz-inline-box;
	list-style-type:NONE;
	position: relative;
	white-space:nowrap;
	float:left;
	margin-left:5px;
	
	
	
}

.music:hover {
	background-image:url('assets/soundoffhover.png');
}

a.textlinks {
	color:#EED822;
}

a.textlinks:hover {
	color:#EED822;
	text-decoration: underline;
}

/* END HOVER EFFECTS FOR NAV BAR */


/* DEMO FLIP CSS...
.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}

*/





/* NOT APPLICABLE 
.wrapper2 {
	width:900px;
	min-height: 750px;
	vertical-align: baseline;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .28);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .28));
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .28));
	
}
#jqb_object {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#jqb_object div.hero-slide-container {
	width: 900px;
	
}


.hero-slide-container-inner {
	position: relative;
	margin-top: 0px;
	border-bottom: 2px solid #3b8693;
	border-top: 2px solid #3b8693;
	height: 450px;
}

.photo1 {
	position:absolute;
	top: 0px;
	left: 0px;
	display:none;
	z-index:4;
	opacity:0;
	width:900px;
	
}

.prev {
	position: absolute;
	top:200px;
	left:0px;
	z-index:5;
	width:50px;
	height:50px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	padding-bottom: 8px;
	text-align:center;
	border-bottom-right-radius: 4px;	
	border-top-right-radius: 4px;	
	background-color: rgba(255, 255, 255, 0.5);
	cursor:pointer;
}

.next {
	position: absolute;
	top:200px;
	right:0px;
	z-index:5;
	width:50px;
	height:50px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	padding-bottom: 8px;
	
	text-align:center;
	border-bottom-left-radius: 4px;	
	border-top-left-radius: 4px;	
	background-color: rgba(255, 255, 255, 0.5);
	cursor:pointer;
}

.content {
	position:relative;
	width:900px;
	bottom:0px;
}

h2{
	font-family: open sans, sans-serif;
	font-size: 18px;
	color: white;
	font-weight: 600;
}

.heading {
	height: 10px;
	padding-bottom: 22px;
	padding-left: 20px;
	padding-top: 10px;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .28);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .28));
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .28));
	
}

.contentwrapper {
	font-family: open sans, sans-serif;
	font-size: 14px;
	padding: 20px;
	min-height: 500px;
}

*/